@media (max-width:768px) {
    .nav-list{
        display: none;
    }

    .nav-button{
        display: block;
        background-color: transparent;
        border: none;
    }

    .nav.open .nav-list{
        padding: 30px;
        position: fixed;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        
        
    }
    .nav-list li a{
        font-size: 30px;
        color: #000;
    }
    .nav-list li a:hover{
        color: #000;
    }

    .nav.open .nav-button{
        position: fixed;
    }

    .nav-button{
        position: absolute;
        z-index: 9;
        top: 30px;
        right: 30px;
    }









    .login-btns{
        display: none;
    }
}