@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles */
.header{
    background-color: #2851E3;
    padding: 22.5px 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    column-gap: 30px;
    flex-direction: row;
  }

.nav-list > li a {
      color: #E0E0E0;
      font-size: 14px;
      font-weight: 600;
  }
.nav-list li > a:hover{
      color: #fff;
  }
.nav-list > li:hover {
     transform: scale(1.3);
  }
/*  */
.login-btns{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.lang-choice{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 7px;
}

.languages{
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}
.hide{
    display: none;
}
.languages button{
    font-size: 20px;
    cursor: pointer;
    color: black;
    border: none;
    background-color: #fff;
}

.lang-choice-btn{
    cursor: pointer;
}


/*  */

.login{
    padding: 8px 22px;
    background-color: #fff;
    color: #3563E9;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}

.nav-button{
    display: none;
}


/* Home styles */

.home{
    background-color: #000000;
    padding: 80px;
}

.home-block{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
.home-desc-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.home-desc{
    margin-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 56px;
    font-weight: 600;
    color: #fff;
}
.home-desc-text{
    margin-bottom: 50px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666;
}
.home-desc-button{
    padding: 15px 40px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #3563E9;
}

/* after home styles */

.after-home{
    background-color: #fff;
    padding: 80px 0;
}
.after-home-block{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
}

.after-home-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.after-home-title p{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.after-home-title h2{
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #212121;
}

.after-home-items{
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
}

.after-home-item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.after-home-item-desc{
    flex-basis: 30%;
}
.after-home-item-desc p:first-child {
    margin-bottom: 32px;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #212121;
}
.after-home-item-desc p:last-child {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

/* Features styles */
.features *{
    color: #000;
}

.features{
    padding: 80px 0;
}

.features-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
}

.feature-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
}

.feature-title-first{
    margin-bottom: 24px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.feature-title-main_name{
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 600;
    color: #212121;
    text-transform: capitalize;
}
.feature-title-last{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}



.feature-items{
    display: flex;
    column-gap: 39px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.feature-item-img{
    margin-bottom: 22px;
}

.feature-item-name{
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 500;
    color: #212121;
}

.feature-item-desc{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #616161;
}

/* acc create styles */

.acc{
    padding: 80px 0;
}

.acc-block{
    padding: 60px 91px;
    display: flex;
    column-gap: 48px;
    align-items: center;
    border-radius: 15px;
    background-color: #3563E9;
}

.create-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.acc-name{
    margin-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.acc-desc{
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.acc-block-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}
.acc-input{
    flex-grow: 1;
    color: #000;
    outline: none;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    background-image: url(../images/getaccount/Feather\ Icon.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.acc-btn{
    padding: 12px 22px;
    background-color: #000;
    border-radius: 5px;
    cursor: pointer;
}

/* reviews styles */

.reviews{
    padding: 80px 0;
}
.reviews-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}
.review-title{
    text-align: center;
}
.review-title-main{
    margin-bottom: 16px;
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #212121;
    text-transform: capitalize;
}
.review-title-desc{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.slider-form{
    display: flex;
}
.left-side, .right-side{
    width: 50%;
    float: left;
    display: flex;
    justify-content: space-evenly;
}

/*  */


.reviews-slider{
    width: 100%;
    
    /* display: flex; */
    justify-content: space-evenly;
    overflow: hidden;
    text-align: center;
    
}

.review-btn{
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.slider-form{
    padding: 20px;
    width: 200%;
    transition: all ease 1s;
    
}

/*  */

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    row-gap: 20px;
}
.review-text{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #424242;
    text-align: center;
}
.review-person{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person_name{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}